@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");

@layer base {
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 70px;
  width: 70px;
}

.selfie {
  border-radius: 50%;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  transition: 2s ease;
}

.content-div:hover {
  background-color: #f5d020 !important;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%) !important;
}
